@import "../../scss/variables.scss";
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 1.8em;
  height: 24px;
  left: 27px;

  @include responsive(celular_p) {
    top: 16px;
  }
  @include responsive(celular_l) {
    top: 16px;
  }
  @include responsive(tablet) {
    top: 20px;
  }
  @include responsive(pc) {
    top: 20px;
  }
  @include responsive(televisor) {
    top: 20px;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #fff;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #fff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #fff;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0;
}

/* General sidebar styles */
.bm-menu {
  background: $color_principal;
  padding: 2.5em 0.5em;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item,
.bm-item:link,
.bm-item:visited,
.bm-item:hover,
.bm-item:active {
  display: inline-block;
  color: #fff !important;
  text-decoration: none !important;
  transition: 0.3s all;
  padding: 5px 5px 5px 15px;
  margin: 5px 0;
}
.bm-item:hover {
 
  background:rgba(255,255,255,0.3);
  border-radius: 50px;
}
.btm-item-activo{
  background:rgba(255,255,255,0.3);
  border-radius: 50px;
}
/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 0;
}

.react-datepicker-popper {
  z-index: 2;
}
